
.uc_rounded_icons_bullets *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.uc_rounded_icons_bullets .uc_container_holder{
	font-size:14px;
	font-weight:400;
	line-height:16px;
	color:#ffffff;
}

.uc_rounded_icons_bullets .uc_rounded_icons_bullets_row
{
	padding:25px 17px 25px 17px;
	overflow:hidden;
	position:relative;
	text-align:left;
	width:100%;
}

.uc_rounded_icons_bullets .uc_rounded_icons_bullets_row .uc_icon_holder
{
	
	float:left;
	border:2px solid;
	text-align:center;
	position:relative;
	z-index:5;
	
}


.uc_rounded_icons_bullets .uc_rounded_icons_bullets_row .uc_content_box
{
	float:left;
	width:calc( 100% - 70px) ;
	padding-top:4px;
	padding-left:20px;
}

.uc_rounded_icons_bullets .uc_rounded_icons_bullets_row .uc_content_box h2
{
	font-size:16px;
	font-weight:600;
	margin-bottom:7px;
	text-transform:uppercase;
}

.uc_rounded_icons_bullets .uc_top_border
{
	position:absolute;
	left:46px;
	top:0px;
	width:2px;
	border-left:2px dashed;
	height:100%;
	display:block;
	z-index:1;
}


.uc_rounded_icons_bullets .uc_rounded_icons_bullets_row:last-child .uc_top_border
{
	top:-10px;
	height:50%;
}

.uc_rounded_icons_bullets .uc_rounded_icons_bullets_row:first-child .uc_top_border
{
	top:30px;
}



.uc_rounded_icons_bullets .uc_rainbow_two_left .uc_top_border
{
	right:46px;
	left:inherit;
}



@media only screen and (max-width: 640px) {
  
	.uc_rounded_icons_bullets .rounded_icons_bullets_right,.uc_rounded_icons_bullets .rounded_icons_bullets_left{ width:100%;}

}